


      <table class="responsive-table highlight">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% user.forEach(function(user) { %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
          <% }); %>
        </tbody>
      </table>

     