<form>
    <label for="name">Full name</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email">
  </form>