
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Sign up with us!</h4>
        <form id="form" method="POST" action="/">
            <label for="name">Full name</label><br>
            <input type="text" id="name" name="name" placeholder="Jim Smith"><br>
            <label for="email">email:</label><br>
            <input type="text" id="email" name="email" placeholder="jim@smith.com">
            <button id="clicky" class="btn modal-trigger" type="submit">Submit</button>
            <!-- <button data-target="modal2" class="btn modal-trigger" type="submit">Submit</button> -->
        </form>
    </div>
</div>


  <div id="modal2" class="modal">
    <div class="modal-content">
      <h2>Thanks for signing up with us!</h2>
      <p>You're all set! Enjoy your time here at TechConnect!</p>
    </div>
    <div class="modal-footer">
      <a href="/" class="modal-close waves-effect waves-green btn-flat">Back to page</a>
    </div>
  </div>

  <!-- header image -->
 

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-image">
          <img src="./images/header.jpg" alt="Italian Trulli">
          <span class="header-title">Card Title
            <p>Over 30,000 professionals matched with our partners</p>
            <a class="waves-effect waves-light btn modal-trigger signup" href="#modal1">Signup</a>
          </span>
        </div>
        <p class="covid">See our latest COVID-19 ressources to stay safe and manage your events - <a href  ="/">Learn more</a></p>
      </div>
    </div>
  </div>

  <!-- event cards -->
 <div class="card-background-grey">
  <h4>Online Events</h4> 
  <article class="row">
    <div class="card small col s12 m6 l3">
        <div class="card-image">
        <img class="" src="./images/jobfair.jpg">
        <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
        <p>I am a very simple card.</p>
        </div>
    </div>
    <div class="card small col s12 m6 l3">
        <div class="card-image">
        <img class="" src="./images/womenTech.jpeg">
        <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        </div>
    </div>
    <div class="card small col s12 m6 l3">
      <div class="card-image">
      <img class="" src="http://placekitten.com/200/300">
      <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      </div>
  </div>
  <div class="card small col s12 m6 l3">
    <div class="card-image">
    <img class="" src="http://placekitten.com/200/300">
    <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
    </div>
  </div>
  </article>
<div class='row'>
  <article class="row">
  <div class="card small col s12 m6 l3">
      <div class="card-image">
      <img class="" src="http://placekitten.com/200/300">
      <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      </div>
  </div>
  <div class="card small col s12 m6 l3">
      <div class="card-image">
      <img class="" src="http://placekitten.com/200/300">
      <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
      </div>
  </div>
  <div class="card small col s12 m6 l3">
    <div class="card-image">
    <img class="" src="http://placekitten.com/200/300">
    <span class="card-title">Card Title</span>
    </div>
    <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
    </div>
</div>
<div class="card small col s12 m6 l3">
  <div class="card-image">
  <img class="" src="http://placekitten.com/200/300">
  <span class="card-title">Card Title</span>
  </div>
  <div class="card-content">
  <p>I am a very simple card. I am good at containing small bits of information.
  I am convenient because I require little markup to use effectively.</p>
  </div>
</div>
</article>
</div>
</div> 

<script src="js/modals.js"></script>
<script src="js/nav.js"></script>
