<form method="POST" action="/">
    <label for="name">Full name</label><br>
    <input type="text" id="name" name="name" placeholder="Jim Smith"><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email" placeholder="jim@smith.com">
  </form>
