html {
    font-size: 18px; /* fallback font size: should be large enough for mobile screens */
  font-size: min(max(16px, 3vw), 24px); /* responsive font size */
  scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    color: #333333;
    background-color: lightgrey;
}

button, .btn {
    color: white;
    background-color: #1386D9;
}

button:hover, .btn:hover {
    background-color: #63b5ff;
}

button:active, .btn:active {
    background-color: #005aa7;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: cover;
}

.nav {
    color: #333333;
    background-color: #1389D9;
}

.brand-logo {
    font-size: 1.333rem;
    color: white;
    background-color: #1386D9;
    padding: 0 1rem !important;
}

.embold {
    font-weight: bold;
}

.enlight {
    font-weight: lighter;
}

.card-img {
    background-color: #1386D9;
}

.padding-sm {
    padding: .5rem !important;
    font-size: .6rem !important;
}

.flexish {
    display: flex;
    justify-content: center;
    padding: 0 0 .5 0 !important;
}

.card-title {
    color: white;
    background-color: #EE6D10;
}

.card-content {
    color: #333333;
    background-color: white;
}

.btn-secondary {
    color: #1386D9;
    background-color: none;
    border: 2px solid #1386D9;
}

.card-background-grey {
    background-color: lightgrey;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    
}

.header-title{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    justify-self: center;
    max-width: 100%;
    padding: 24px;
    
}
.header{
    background-image: url("/images/header.jpg");

}
.covid {
    text-align: center;
    background-color: #333333;
    color:white
}

.article {
    justify-content: center;
}


